.banner{
 background-image: url(/image/imge2.jpg);
 background-size: cover;
 height: 900px;
 width: 1200px;
}
/* banner-hero style  */
.banner-hero{
    display: flex;
    justify-content: space-between;
}

/* banner-btn style  */
.banner-btn{
    margin-top:40px ;
    margin-right: 40px;
    
    
}

/* banner-contain style  */
.banner-contain{
     background-color: blue;
     border: 3px solid rebeccapurple;
     cursor: pointer;
}

/* main-container style  */

.main-container{
    display: flex;
    padding: 30px 30px;
    gap: 50px;
    
}

/* main-btn style  */

.main-btn{
    background-color: darkblue;
    font-size: 15px;
    color: whitesmoke;
}

/* About to add a background image */
/* .about{
    background-image: url(/image/image4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */

/* service-card style  */
.service-card{
    display: grid;
    
}

/* service-container style */
.service-container{
     display: grid;
     grid-row: 3 / 1fr;
}
